

body
{
font-style: italic;
border-width: 1px;
background-color: red;
}
title{
    color-scheme: i;
}

div entirety{
    color: black;
}

div first{
    background-color: beige;
}
div second{
    border: width 5px;
}