

body
{
font-style: italic;
border-width: 1px;
background-color: #ff0000;
size-adjust: device-width;
padd
}
title{
    color-scheme: inherit;
}

div #entirety{
    color: black;
}

div #first{
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    font: bold;
    width: 50%;
    
}
div #second{
    font-size: 2em;
    border: width 5px;
    padding: auto;
}