

body
{
font-style: italic;
border-width: 1px;
background-color: red;
size-adjust: device-width;
}
title{
    color-scheme: inherit;
}

div entirety{
    color: black;
}

div first{
    background-color: beige;
    FONT
}
div second{
    border: width 5px;
}