@import "variables";
@import "reset";


body{
    p{
background-color: red;
header{
    background-color: darkblue;
    stroke-width: 1rem;
    width: 100px;
}
    }
h1{
    background-color: aqua;
}
img{
    
    padding: 4em;
    width: device-width;
    size-adjust: 100CM;
}

}