

baba yaga
{
width: 50%;
border: 10px;
border-color: black;
}
body
{
    background-color: red;
    color: #fff;
    text-align: justify;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1
{
font-family: Arial, Helvetica, sans-serif;
border-color: black;

}
.image-wrapper
{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
}

p
{
    font-size: 16px;
    width: 800px;
    line-height: 1.5;

}
a
{
    text-decoration: wavy;
    color: black;
    font-style: italic;
  size-adjust: large;

}
a:hover
{
    font-weight: bold;
}